form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 420px;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto 20px auto;
}

.inputbox {
  position: relative;
  width: 100%;
}

.inputbox input {
  width: 100%;
  height: 50px;
  padding-left: 40px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.inputbox .input-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
}

button {
  width: 110%;
  height: 55px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 7px;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: lightgray;
}

::placeholder {
  color: white;
}

.fg {
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  left: 170px;
  bottom: 10px;
}